/*
* header styles
*
*	1. core site header styles
*	2. header masks
*	3. ITS logo
*	4. light/dark toggle switch
*	5. main nav toggle button
*
*/

// =============================================	1. core site header styles


.site_main_header {
	position: sticky;
	top: 0vh;
	width: 100%;
	height: 100%;
	min-height: 96px;
	z-index: 9999;

	transition: all 250ms ease-in-out;



	&.smaller {
		@include themify($themes) {
	//		background: rgba(themed('backgroundColor'), 0.78);
			color: themed('textColor');

		}



		.menu_is_open & {
			background: transparent;
			box-shadow: none;
			color: $white;
		}
	}

	.menu_is_open & {
		color: $white;
	}

	.flex-row {
		justify-content: space-between;
		align-items: stretch;

	}

	.header_center {
		flex: 1;
		display: flex;
		align-items: flex-end;
		padding-right: 2em;
	}


	.utility_right_side {
		display: flex;

	}
	.logo-spacer {
		min-width: 200px;

		@include tablet-down {
			min-width: 10px;
		}
	}
}

// =============================================	2. header mask styles

.mask-container {
	@include tablet-up {
		container-type: inline-size;
	}

}
.mask-box {
	background-color: #D3E000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1600'%3E%3Cdefs%3E%3Crect id='a' x='-2000' width='6000' height='200'/%3E%3Cg id='b'%3E%3Cuse href='%23a' fill='%23D3E000' y='-1400'/%3E%3Cuse href='%23a' fill='%23d9cd00' y='-1200'/%3E%3Cuse href='%23a' fill='%23dcbb00' y='-1000'/%3E%3Cuse href='%23a' fill='%23dda800' y='-800'/%3E%3Cuse href='%23a' fill='%23dd9600' y='-600'/%3E%3Cuse href='%23a' fill='%23db8300' y='-400'/%3E%3Cuse href='%23a' fill='%23d67100' y='-200'/%3E%3Cuse href='%23a' fill='%23d15e03'/%3E%3Cuse href='%23a' fill='%23c94c12' y='200'/%3E%3Cuse href='%23a' fill='%23c0381b' y='400'/%3E%3Cuse href='%23a' fill='%23b00505' y='600'/%3E%3Cuse href='%23a' fill='%23ac2220' y='800'/%3E%3Cuse href='%23a' fill='%23a32020' y='1000'/%3E%3Cuse href='%23a' fill='%239a1f1f' y='1200'/%3E%3Cuse href='%23a' fill='%238f0b0b' y='1400'/%3E%3Cuse href='%23a' fill='%23881d1d' y='1600'/%3E%3Cuse href='%23a' fill='%23801b1c' y='1800'/%3E%3Cuse href='%23a' fill='%23771a1b' y='2000'/%3E%3Cuse href='%23a' fill='%236e191a' y='2200'/%3E%3Cuse href='%23a' fill='%23690000' y='2400'/%3E%3Cuse href='%23a' fill='%235e1717' y='2600'/%3E%3Cuse href='%23a' fill='%23690000' y='2800'/%3E%3Cuse href='%23a' fill='%237a020e' y='3000'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(140.4 1000 800)'%3E%3Cg transform='scale(1.11)' style='transform-origin:center'%3E%3Cg transform='scale(.5)' style='transform-origin:center'%3E%3Cuse href='%23b' transform='rotate(90 1000 800)'/%3E%3Cuse fill-opacity='0.68' href='%23b' transform='rotate(150 1000 800)'/%3E%3Cuse opacity='.25' href='%23b' transform='rotate(210 1000 800)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: 100%;
	background-position: bottom center;

	transition: all 150ms ease;


	@include tablet-down {
		min-height: 5rem;

	}

	@include tablet-up {

		margin-block: calc(-1 * var(--mask-head-size) - 1px) calc(-1 * var(--mask-foot-size) - 1px);
		padding-block: calc(var(--mask-head-size) + 1px) calc(var(--mask-foot-size) + 1px);
		mask-image:
				linear-gradient(transparent calc(var(--mask-head-size) - 1px), black calc(var(--mask-head-size) - 1px), black calc(100% - var(--mask-foot-size) + 1px), transparent calc(100% - var(--mask-foot-size) + 1px)),
				url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 55" preserveAspectRatio="none" width="1000" height="42"><path d="M1000 100V0H0v4c675 69 448.3 47.5 1000 96Z" opacity=".5"></path><path d="M576 41C433.7 32 0 4 0 4V0h1000v10.7C847 46 723 50.3 576 41Z"></path><path d="M1000 55V0H0v4s582.6 51.4 755 58c104 4 171 1 245-7Z" opacity=".5"></path></svg>');
		mask-repeat: no-repeat;
		mask-position:
				center,
				bottom;
		mask-size: 100%;

		padding-top: 5.51rem;
		margin-top: -5.5rem;
	}

	.smaller & {
		@include tablet-up {
			margin-block: calc(-1 * var(--mask-head-size) - 1px) calc(-1 * var(--mask-foot-size-small) - 1px);
			padding-block: calc(var(--mask-head-size) + 1px) calc(var(--mask-foot-size-small) + 1px);
			transition: mask-image 50ms ease;
			mask-image: none;
		}

	}

}

.below-mask-box {

	display: block;

}
.box-wrap {
	padding: 1px;
	color: #FFF;
}


// =============================================	3. ITS logo
#ITS_MAIN_LOGO {

	position: absolute;
	padding:  0;
	transition: all 200ms ease-in-out;
	top: 0;
	min-width: 200px;
	z-index: 9999;


	svg {
		max-width: 100%;
		height: auto;
	}

	#ITS-logo {
		transform-origin: center center;
		transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
		will-change: transform, filter;
		backface-visibility: hidden;
		filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.25));

		&:hover {
			filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
			transition: transform 0.4s ease, filter 0.4s ease;
		}
	}

	a,
	a:visited {
		display: flex;

		@include themify($themes) {
			color: themed( 'mainNavLinkColor' );
		}
	}

	@include tablet-down {
		min-width: 140px;
	}
	@include phone-only {
		min-width: 24vw;
	}


	.smaller & {
		transform: scale(0.68) translate(-20px, -53px);

		@include tablet-down {
			transform: scale(0.68) translate(-1rem, -1rem);
		}
	}
}



// =============================================	4. light/dark toggle switch


.darkmode_switch {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.76,0.05,0.24,0.95);
	--trans-timing-in: cubic-bezier(0.76,0.05,0.86,0.06);
	--trans-timing-out: cubic-bezier(0.05,0.76,0.06,0.86);
	//font-size: calc(40px + (80 - 40) * (100vw - 320px) / (2560 - 320));

	margin: 0;
	position: relative;
	line-height: 1.5;

	@include phone-landscape {
		margin-right: 30px;
	}

	.switch__icon,
	.switch__input {
		display: block;
	}
	.switch__icon {
		position: absolute;
		top: 11px;
		right: 9px;
		width: 20px;
		height: 10px;
		transition:
			opacity calc(var(--trans-dur) / 2),
			transform calc(var(--trans-dur) / 2);
	}
	.switch__icon polyline {
		transition: stroke-dashoffset calc(var(--trans-dur) / 2);
	}
	.switch__icon--light,
	.switch__icon--light polyline {
		transition-delay: calc(var(--trans-dur) / 2);
		transition-timing-function: var(--trans-timing-out);
	}
	.switch__icon--dark {
		opacity: 0;
		transform: translateX(-0.75em) rotate(30deg) scale(0.75);
		transition-timing-function: var(--trans-timing-in);
	}
	.switch__input {
		background-color: darken( $yellow, 10 );
		border-radius: 0.75em;
		box-shadow:
			0 0 0 0.125em hsla(var(--hue),90%,50%,0),
			0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
		outline: transparent;
		position: relative;
		width: 3em;
		height: 1.5em;
		-webkit-appearance: none;
		appearance: none;
		-webkit-tap-highlight-color: transparent;
		transition:
			background-color var(--trans-dur) var(--trans-timing),
			box-shadow 0.15s linear;
	}
	.switch__input:focus-visible {
		box-shadow:
			0 0 0 0.125em hsl(var(--hue),90%,50%),
			0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
	}
	.switch__input:before,
	.switch__input:after {
		content: "";
		display: block;
		position: absolute;
	}
	.switch__input:before {
		background-color: $yellow;
		border-radius: inherit;
		mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
		-webkit-mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
		inset: 0;
		transition: background-color var(--trans-dur) var(--trans-timing);
	}
	.switch__input:after {
		background-color: hsl(0, 0%, 0%);
		border-radius: 50%;
		box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue),90%,10%,0.1);
		top: 0.125em;
		left: 0.125em;
		width: 1.25em;
		height: 1.25em;
		transition:
			background-color var(--trans-dur) var(--trans-timing),
			transform var(--trans-dur) var(--trans-timing);
		z-index: 1;
	}
	.switch__input:checked {
		background-color: $red;
	}
	.switch__input:checked:before {
		background-color: $yellow;
	}
	.switch__input:checked:after {
		background-color: hsl(0,0%,0%);
		transform: translateX(1.5em);
	}
	.switch__input:checked ~ .switch__icon--light,
	.switch__input:checked ~ .switch__icon--light polyline {
		transition-delay: 0s;
		transition-timing-function: var(--trans-timing-in);
	}
	.switch__input:checked ~ .switch__icon--light {
		opacity: 0;
		transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
	}
	.switch__input:checked ~ .switch__icon--light polyline {
		stroke-dashoffset: 1.5;
	}
	.switch__input:checked ~ .switch__icon--dark {
		opacity: 1;
		transform: translateX(-1em);
		transition-delay: calc(var(--trans-dur) / 2);
		transition-timing-function: var(--trans-timing-out);
	}
	.switch__sr {
		overflow: hidden;
		position: absolute;
		width: 1px;
		height: 1px;
	}

}


// =============================================	5. main nav toggle button

// grouping search icon and menu button
#mobile_menu_toggle_container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

#menu_toggle_button {
	width: 45px;
	height: 45px;
	padding: 5px;
	margin: 1.1em 0.5em;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	z-index: 999999;
	background: transparent;
	position: absolute;
	top: 18px;
	right: 15px;
	color: $white;

	@include tablet-down {
		display: block;
	}
	@include phone-landscape {
		top: 0;
		margin: 0;
	}




	.menu_is_open & {
		color: $white;
	}


	@include phone-only {
		padding: 10px;
		border: 2px solid currentColor;
	}

	&:hover,
	&:target {
		border: 2px solid currentColor;
	}

	.menu_line {
		transition: all 200ms ease-in-out;
		stroke-width: 3;
		stroke: $white;

		.main_nav_open & {
			stroke: $white;
		}
	}

	&.main_nav_open {

		.middle_line {
			opacity: 0;

		}
	}
}